a {
    color: inherit;
    text-decoration: none;
    color: #FFA790;
}

a:hover {
    color: #FF7F66;
}

h1, h2, h3, h4 {
    margin: 10px 0;
    text-align: left;
}
ul { list-style-type: square; }
ul, ol { margin: 20px 0; padding: 0 0 0 30px; }
ul li p, ol li p { margin: 0; }

h2 {
    color: #7ECEFD;
    font-weight: 300;
}

h3 {
    color: #BEB8AB;
    font-size: 1.3em;
    color: #AAA;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #222;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #3E454C;
    color: #FFF6E5;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
}

body > header {
    width: 226px;
    float: left;
}

#page-content {
    margin-left: 225px;
    padding: 30px;
    background-color: #2E3338;
}

body > header h1 {
    opacity: 0.5;
    color: #FF7F66;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 100px;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    transform: rotate( 270deg ) translate( 110px, -335px );
}

.card-deck {
    margin: 0 0 25px 0;

    width: 550px;
}

.card-deck > header {
}

.card-deck > header > h2 {
    font-size: 24px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 200;
    color: #7ECEFD;
    letter-spacing: 2px;
}

.card-deck .card {
    display: block;
    padding: 10px 20px;
}

.card-deck .card:first-of-type {
}

.card:hover {
    background-color: rgba( 255, 255, 255, 0.035 );
}

.card:active {
    background-color: rgba( 255, 255, 255, 0.1 );
}

.card .title {
    display: block;
    text-transform: uppercase;
}

.card .blurb {
    display: block;
    color: #FFF6E5;   
}

.card .extra {
    display: block;
    color: #888;
}

article.post a.back {
    margin-bottom: 10px;
    display: block;
}

article.post header {
    padding: 0 0 20px 0;
}

article.post header h1.title {
    color: #7ECEFD;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    text-shadow: 1px 1px 0 #666;
}

article.post header h2.blurb {
    color: #999;
    font-weight: 200;
    margin: 0;
}

.post .content {
    text-align: justify;
}

.post h2 {
}

.post blockquote {
    background-color: #394046;
    margin: 25px 0;
    padding: 10px 20px 10px 50px;
    border-left: 5px solid #51575E;
    position: relative;
    color: #CCC;
}

.post blockquote:before {
    content: '“';
    font-size: 96px;
    padding: 0;
    line-height: 48px;
    position: absolute;
    left: 10px;
    top: 0;
    opacity: 0.3;
    font-family: 'Georgia', serif;
}

blockquote strong {
    color: #EEE;
}

.post strong {
}